{% extends 'base.html.twig' %}

{% block body %}

    <h1>Please comfirm your mail</h1>

    <p> We send you a mail with a confirm link, you just have to click on this link and login on the website. Thanks for you subscribtion</p>

{% endblock %}