{% extends "base.html.twig" %}

{% block body %}

    <div>
        <a href="{{ path('admin_blog')}}">Blog</a>
    </div>

    <div>
        <a href="{{ path('admin_ressources')}}">Ressources</a>
    </div>

    <div>
        <a href="{{ path('admin_tags')}}">Tags</a>
    </div>

{% endblock %}