$brown-medium : #CCC2C1;
$brown-color : #E3D2C0;
$brown-lighter : #DBD3D0;
$grey-light: #F3EDED;
$brown-flash: #c0524e;
$brow: #EBDAC9;
$brown2: #DECEC1;




$blue-light: #386395;
$blue-medium: hsla(0, 0%, 0%, 0) ;
$blue-dark: #20293f; 
$red-flash: #bd0507;
$red-pale: #c44f4e;
$salmon: #FFE4B5;
$orange: #f3be63;
$white: #ffffff;

//dark : 

$black-d : #181a1b;
$black-m: #232626;
$black-l: #3A3B3C;
$white: #E3E6EA;
$grey-l: #B0B3B7;
$grey-ml: #808488;
$grey-m: #444444;
$grey-d: #393838;

//color   s
$green-m: #52cba1;
$green-l: #C2FEE0;
$green-f:#2ba87c;
$purple1: #bea2df;
$purple2: #a36fdf;